<div class="contenedor-iniciar-sesion d-flex flex-column mx-auto">
    <div class="titulo">
        <h3>CREAR CUENTA</h3>
    </div>
    <form (ngSubmit)="crear()" id="crear" class="d-flex flex-column mx-auto my-auto">        
        <div class="primer-div mb-3">
            <label for="" class="form-label">Correo</label>
            <input type="email" [(ngModel)]="user.correo" [ngModelOptions]="{standalone: true}" placeholder="Correo" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" [(ngModel)]="user.nombre" [ngModelOptions]="{standalone: true}" placeholder="Nombre" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Apellido</label>
            <input type="text" [(ngModel)]="user.apellido" [ngModelOptions]="{standalone: true}" placeholder="Apellido" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" placeholder="Contraseña" class="form-control" required>
        </div>
        <div class="mb-3">
            <input class="boton btn btn-success" type="submit" value="Crear">
        </div>       
    </form>
    <div class="contenedor-registrarse">
        <label for=""><a (click)="volver()">Volver</a></label>   
    </div>
</div>

