<div class="contenedor-iniciar-sesion d-flex flex-column mx-auto">
    <div class="titulo">
        <h3>CREAR CUENTA</h3>
    </div>
    <form (ngSubmit)="crear()" id="crear" class="d-flex flex-column mx-auto my-auto">        
        <div class="primer-div mb-2">
            <label for="" class="form-label">Correo</label>
            <input type="email" [(ngModel)]="user.correo" [ngModelOptions]="{standalone: true}" placeholder="Correo" class="form-control" required>
        </div>
        <div class="mb-2">
            <label class="form-label">Nombre</label>
            <input type="text" [(ngModel)]="user.nombre" [ngModelOptions]="{standalone: true}" placeholder="Nombre" class="form-control" required>
        </div>
        <div class="mb-2">
            <label class="form-label">Apellido</label>
            <input type="text" [(ngModel)]="user.apellido" [ngModelOptions]="{standalone: true}" placeholder="Apellido" class="form-control" required>
        </div>
        <div class="mb-2">
            <label class="form-label">Género</label>
            <select [(ngModel)]="user.genero" [ngModelOptions]="{standalone: true}" class="form-select" style="color:black" required>
                <option class="opciones" style="color:black"  value="F">Femenino</option>
                <option class="opciones" style="color:black"  value="M">Masculino</option>
                <option class="opciones" style="color:black"  value="NB">No Binario</option>
              </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" placeholder="Contraseña" class="form-control" required>
        </div>
        <div class="mb-3">
            <input class="boton btn btn-success" type="submit" value="Crear">
        </div>       
    </form>
    <div class="contenedor-registrarse">
        <label for=""><a (click)="volver()">Volver al Portfolio</a></label>   
    </div>
</div>


<!-- modal OK usuario creado-->
<button id="abrirUsuarioCreado" [hidden]="true" data-toggle="modal" data-target="#usuarioCreado">Abrir modal</button>
<div class="modal fade" id="usuarioCreado" role="dialog">
    <div class="modal-dialog ">
    
      <div class="modal-content rounded-3" style="box-shadow: white 0px 0px 20px; margin-top: 20px; margin-left: 20px;">
        <div class="modal-header" style="background-color: black;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Usuario registrado</h4>
        </div>
        <div class="modal-body px-5" style="background-color: rgb(196, 100, 10);">
          <h1 class="text-center py-3">¡Alta correcta!</h1>
        </div>
        <div class="modal-footer" style="background-color: black;">
          <button type="button" class="btn btn-default" style="color: white;" data-dismiss="modal" (click)="volverLogin()">Volver a Login</button>
        </div>
      </div>
      
    </div>
  </div>
