<div class="contenedor-iniciar-sesion d-flex flex-column mx-auto">
    <div class="titulo">
        <h3>INICIO DE SESION</h3>
    </div>
    <form class="d-flex flex-column mx-auto my-auto">        
        <div class="primer-div mb-3">
            <label for="exampleInputEmail1" class="form-label">CUENTA</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Nunca compartiremos tu correo electrónico con nadie.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-secondary">Ingresar</button>
    </form>
</div>

