*, *::before, *::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


.contenedor-iniciar-sesion{
    width: 330px;
    height: 515px;
    background-color: black;
    margin-top: 150px;
    box-shadow: 0 0 20PX darkgray;
    border-radius:15px ;
    -webkit-border-radius:15px ;
    -moz-border-radius:15px ;
    -ms-border-radius:15px ;
    -o-border-radius:15px ;
    
    .titulo{
        height: 50px;
        text-align: center;
        margin-bottom: 3.5rem;
        background-color: rgb(196, 100, 10);
        border-radius:15px 15px 0 0;
        -webkit-border-radius:15px 15px 0 0;
        -moz-border-radius:15px 15px 0 0;
        -ms-border-radius:15px 15px 0 0;
        -o-border-radius:15px 15px 0 0;

        h3{
            line-height: 50px;
        }

    }

   
    .primer-div{
        margin-top: -2rem;
    }
    
    .form-label{
        font-size: 3rem;
    }

    .form-control{
        text-indent: 0.5rem;
        text-shadow: 0 0 2px gray;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .form-text{
        margin-top: 5px;
        color: white;
    }

    .boton{
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 1.7rem;
        margin-left: auto;
        margin-top: 3rem;
    }    

}

.error{
    margin-top: -6rem;
    margin-bottom: 4.6rem;

    label{
        color: red;
    }

}

.contenedor-registrarse{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;

    a{
        color: rgb(236, 147, 63);
        transition:all 0.3s;
        -webkit-transition:all 0.3s;
        -moz-transition:all 0.3s;
        -ms-transition:all 0.3s;
        -o-transition:all 0.3s;

        
        &:hover{       
            cursor: pointer;
            color: rgb(245, 174, 108);
        }

    }
}

